//  COLORS

$black: #000000;
$bg-body: #f5f5f5;
$gris: #FFFFFF;
$azul-logo-oscuro: #0089C2;
$azul-logo: #009ADA;
$azul-logo-claro: #52B8E3;
// $azul-bg: #88cde9;
$azul-bg: #AADAED;
$verde-logo: #02B57E;
$verde-logo-claro: #BFE7DB;