.hero {
    height: calc(100vh - 8rem);
    // height: 100vh;
    padding: 0;
    padding-top: calc(100vh - calc(100vh - 19rem));
    @include respond(tab-port) {
        padding-top: calc(100vh - calc(100vh - 14rem));
    }
    
    @include respond(phone) {
        padding-top: calc(100vh - calc(100vh - 12rem));
    }
    
    @include respond(phone-small) {
        padding-top: calc(100vh - calc(100vh - 11rem));
        height: calc(100vh - 40rem);
    }
}
.swiper {

    height: 100%;

    &-slide {
        &-item {
            // padding: 4rem;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            max-width: 120rem;
            margin-inline: auto;
            
            @include respond(tab-port) {
                padding: 0 6rem;
            }
            @include respond(phone) {
                padding: 0 3rem;
                grid-template-columns: repeat(1, 1fr);
            }
            @include respond(phone-small) {
                padding: 0 2rem;
            }

        }
        &-text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 8rem 4rem;


            & h2 {
                text-align: start;
                color: $azul-logo;
                
                @include respond(phone) {
                }
            }
            & a {
                text-align: center;
                font-size: 2rem;
                text-decoration: none;
            }
            
            @include respond(tab-port) {
                padding: 4rem;
            }
            
            @include respond(phone) {
                // padding: 0;
                justify-content: space-around;
                padding: 3rem 0 8rem 0;

                & h2 {
                    text-align: center;
                    font-size: 3.5rem;
                } 

                // grid-column: 1/3;
                // grid-row: 1;
            }
        }
        &-imagen {

            display: flex;
            align-items: center;
            padding: 0 4rem;
            height: 100%;

            & img {
                max-width: 100%;
                margin: auto;
            }
            @include respond(phone) {
                display: none;
                // grid-column: 1/3;
                // grid-row: 1;
            }

        }
    }
}


