.contactos {
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;

    @include respond(phone) {
    grid-template-columns: 1fr;
    }
}

.item-map {
    justify-self: end;

    @include respond(tab-port) {
        display: none;
    }
}