<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>Document</title>
</head>
<body>
    

<footer>
    <div id="contactos">
        <h3>Contactos</h3>
        <hr>
        <p><span class="material-symbols-outlined symbol-none">
            call
            </span> 0800-222-3462 <small>lun a vie 9 a 16:30 hs</small></p>
        <p><i class="fa-brands fa-whatsapp"></i>11-2761-0692 <small>las 24hs</small></p>
        <p><span class="material-symbols-outlined symbol-none">
            mail
            </span> atbeneficiario@osssb.com.ar</p>
        <p id="direccion"><span class="material-symbols-outlined symbol-none">
            home_pin
            </span> 25 de Mayo 182, CABA, Argentina</p>
        <p><span class="material-symbols-outlined">
            arrow_forward
            </span></i><a href="/pages/sucursales.html"> Sucursales</a></p>
    </div>
    <div id="urgencias">
        <h3><b>Urgencias</b> y visitas a domicilio</h3>
        <hr>
        <p><span class="material-symbols-outlined">
            call
            </span> 0800-555-6722</p>
        <p><span class="material-symbols-outlined">
            location_on
        </span><small> CABA: opción 1</small></p>
        <p><span class="material-symbols-outlined">
            location_on
        </span><small> Mendoza: opción 2</small></p>
        <p><span class="material-symbols-outlined">
            location_on
        </span><small> Sgo. del Estero: opción 3</small></p>
        <p><span class="material-symbols-outlined">
            location_on
        </span><small> GBA y resto de las provincias: opción 4</small></p>
    </div>
    <div id="links">
        <h3>Links de interés</h3>
        <hr>
        <div>
            <p><a href=""><img src="/imagenes/POBA mediano_Mediano copy.png" alt=""></a></p>
            <p><a href=""><img src="/imagenes/logo-blanco.png" alt=""></a></p>
            <p><a href=""><img src="/imagenes/logo_sssalud.png" alt=""></a></p>
        </div>
    </div>
    <div id="logo">
        <!-- <img src="/imagenes/logoBancarios.PNG" alt=""> -->
    </div>
    <div id="copy">
        <p>Copiryght 2023</p>
    </div>
</footer>
    <script src="../components/header.js"></script>
</body>
</html>
