*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    background-color: $azul-bg;
    
    @include respond(tab-land) { 
        font-size: 56.25%; 
    }

    @include respond(tab-port) { 
        font-size: 50%; 
    }

    @include respond(tab-port) { 
        font-size: 50%; 
    }
    
    scroll-behavior: smooth;
    // @include respond(big-desktop) {
    //     font-size: 75%; 
    // }
}

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    // margin: auto;
    // max-width: 1440px;
    // background-color: $azul-bg;
    // box-shadow: rgba(50, 50, 93, 0.25) 0px 1px 8px -1px, rgba(0, 0, 0, 0.3) 0px 1px 5px -1px;
}
hr {
    margin: 0 10rem;
    border-style: solid;
}

.container {
    // max-width: 130rem;
    margin-inline: auto;
    display: grid;
    background-color: $azul-bg;
    grid-gap: 4rem;
    padding: 15rem;

    @include respond(tab-land) { 
        max-width: 900px; 
    }

    @include respond(tab-port) { 
        max-width: 600px;  
        padding-inline: 3rem  
    }

    @include respond(phone) { 
        width: 100%;
        padding-inline: 3rem  
    }
}